{% extends "layout.html" %}
{% block body %}


<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/calismasuresi/edit/{{sure.id}}}" method="POST">

          
                Tc Kimlik Numarası<br>
                <input type = "text" name = "tcno" value="{{sure.tc}}" class="form-control"/><br>
 
                Hafta İçi Giriş<br>
                <input type = "time" name = "haftaicigiris" value="{{sure.haftaicigiris}}"  class="form-control"/><br> 

                Hafta Sonu Çıkış<br>
                <input type = "time" name = "haftaicicikis" value="{{sure.haftaicicikis}}"  class="form-control"/><br>

                Cumartesi Giriş<br>
                <input type = "time" name = "cumartesigiris" value="{{sure.cumartesigiris}}"  class="form-control"/><br> 

                Cumartesi Çıkış<br>
                <input type = "time" name = "cumartesicikis" value="{{sure.cumartesicikis}}"  class="form-control"/><br> 

                Pazar Giriş<br>
                <input type = "time" name = "pazargiris" value="{{sure.pazargiris}}"  class="form-control"/><br> 

                Pazar Çıkış<br>
                <input type = "time" name = "pazarcikis" value="{{sure.pazarcikis}}"  class="form-control"/><br>
            <input type = "submit" value = "Güncelle" class="button"/><br>
          </div>
        </form>
      </div>
    </div>
  </div>








{% endblock body %}




