{% extends "layout.html" %}


{% block body %}


<h3 style= "text-align: center;">Haftasonu Çalışıp Korona Olanların Listesi</h3>
{% if data %}
<table class="w3-table-all">
    <thead>
      <tr class="w3-red">
        <th scope="col">TC Kimlik Numarası</th>
        <th scope="col">Eleman İsmi</th>
        <th scope="col">Eleman Soyisimi</th>
        <th scope="col">Yakalandığı Tarih</th>
        <th scope="col">Negatif Olma Tarihi</th>
        <th scope="col">Cumartesi Giriş Saati</th>
        <th scope="col">Cumartesi Çıkış Saati</th>
        <th scope="col">Pazar Giriş Saati</th>
        <th scope="col">Pazar Çıkış Saati</th>
      </tr>
    </thead>
    <tbody>
      {% for c in data %}
      <tr>
        <th scope="row">{{c.tc}}</th>
        <td>{{c.isim}}</th>
        <td>{{c.soyad}}</th>
        <td>{{c.pozitif_tarihi}}</th>
        <td>{{c.negatif_tarihi}}</th>
        <td>{{c.cumartesigiris}}</th>
        <td>{{c.cumartesicikis}}</th>
        <td>{{c.pazargiris}}</th>
        <td>{{c.pazarcikis}}</th>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>  
{% else %}
<div class = "alert alert-danger">Henüz haftasonu çalışıp korona olan çalışan bulunmuyor...</div>
{% endif %}

<br><br><br>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Kişi Sayısı', 'Kişi Sayısı'],
          ['Korona Olan Kişi Sayisi ', {{korona_olan}}],
          
          ['Toplam Kişi Sayısı', {{toplamkisisayisi}}]
        ]);

        var options = {
          width: 500,
          legend: { position: 'none' },
          chart: {
            title: '',
            subtitle: '' },
          axes: {
            x: {
              0: { side: 'top'} // Top x-axis.
            }
          },
          bar: { groupWidth: "35%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
    </script>
 
    <div id="top_x_div" style="width: 400px; height: 500px;"></div>



{% endblock body %}