{% extends "layout.html" %}


{% block body %}


<h3 style= "text-align: center;">Kronik Hastalık Ekle</h3>


<div class="jumbotron">
            <h3>Yeni Kullanıcı</h3>
            <form action = "/kronikekle" method = "POST">
    
                Tc Kimlik Numarası<br>
                <input type = "text" name = "tcno" class="form-control"/><br>

                Kronik Hastalık<br>
                <input type = "text" name = "kronik" class="form-control"/><br>
 
                <input type = "submit" value = "Ekle" class="btn btn-success"/><br>
      </form>
 
</div>






{% endblock body %}




