{% extends "layout.html" %}
{% block body %}


<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/kronikgoruntule/edit/{{kronik.kronik_hastalik_id}}}" method="POST">

                ID<br>
                <input type = "text" name = "id" value="{{kronik.kronik_hastalik_id}}" class="form-control" disabled/><br>  
          
                Tc Kimlik Numarası<br>
                <input type = "text" name = "tcno" value="{{kronik.tc}}" class="form-control"/><br>
 
                Hobi İsmi<br>
                <input type = "text" name = "kronik" value="{{kronik.kronik_hastalik_ismi}}"  class="form-control"/><br>   

            <input type = "submit" value = "Güncelle" class="button"/><br>
          </div>
        </form>
      </div>
    </div>
  </div>








{% endblock body %}




