{% extends "layout.html" %}


{% block body %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');
body{
    background-image: url('https://images.pexels.com/photos/6074944/pexels-photo-6074944.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;   
    margin: 0;
    border: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.login-box{
background: rgba(0, 0, 0, 0.36);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(15px);
border: 1px solid rgba(214, 208, 208, 0.3);
height: 500px;
width: 450px;
}
.text-login p{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.text-login span{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(212, 212, 212);
}
.text-login{
    text-align: center;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.login-form{
    margin-top: 30px;
}
.form-controll{
    margin-top: 20px;
    width: 300px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    height: 40px;
    border: #00000033 1px solid;
    font-size: 20px;
    border-radius: 15px;
    background-color: #C2A5CB;
}
.form-control::placeholder{
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color:rgb(196, 196, 196);
}
.form-control:focus{
    outline: none;
}
.form-enter{
    margin-top: 20px;
    width: 150px;
    font-weight: bold;
    height: 45px;
    border-radius: 10px;
    background:white;
    font-family: 'Quicksand', sans-serif;
    border: transparent 1px solid;
}
hr{
    width: 60%;
    margin-top: 40px;
}
.social-login p{
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-transform: capitalize;
}
.social-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fab{
    color:white;
    border-radius: 20px;
    font-size: 40px;
    width: 50px;
    height: 50px;
} </style>

{% from "includes/formhelpers.html" import render_field %}


 <div class="main">
        <div class="login-box">
            <div class="text-login"><br>
            <p>Kayıt Ol</p>
            <span>Siteye üye olmak aşağıdaki bilgileri doldurunuz</span>
            </div>
            <div class="login-form">
                <form action = "/register" class = "deneme" method="POST">
                    <input class="form-controll" name = "name" type="text" placeholder="İsim Soyisim">
                    <input class="form-controll" name = "eposta" type="text" placeholder="E-posta">
                    <input class="form-controll" name = "username" type="text" placeholder="Kullanıcı Adı">
                    <input class="form-controll" name = "password" type="password" placeholder="Şifre">
                    <input class="form-enter" type="submit" value="Kayıt Ol">
                </form>
            </div>
        </div>
    </div>
</body>


{% endblock body %}
